h1{
  color: blue;
  font-size: 12px:
}
  .blackParagraph {
    color: black;
  }
  #lastParagraph{
    font-size: 15px;
  }
  #sectionTwo{
    font-family : cursive;
  }
body{
  background-color: 	#F08080
  
}
